* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'nanum-gothic';
    src: url('fonts/nanum-gothic/NanumGothic-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/static/Raleway-ExtraLight.ttf') format(truetype);
    src: url('fonts/raleway/static/Raleway-Medium.ttf') format(truetype);
    src: url('fonts/raleway/static/Raleway-Light.ttf') format(truetype);
    src: url('fonts/raleway/static/Raleway-Regular.ttf') format(truetype);
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    color: #FBFBF2;
    background-color: #141432;
    font-family: 'nanum-gothic', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}


.flexContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    text-align: center;
    padding: 0;
    font-size: 3em;
    color: #FF0077;
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    width: 680px;
    margin: 30px auto 20px auto;    
    
    line-height: 1.5em;
    font-weight: 800;
    border-radius: 16px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

    
}

.gridBoard {
    width: 680px;
    height: 680px;
    display: grid;
    margin: 0 auto;
    padding: 0;
    border: 1px black solid;
    border-radius: 16px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
}

.box {
    border-radius: 8px;
}
.title
.controls,
 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 
.controls {
    background-color: #20203E;
    max-width: 800px;
    margin: 0 auto;
} */

.inputContainer,
.colour-reset-container  {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 680px;
    gap: 10px;
    padding: 0px;
    align-items: baseline;
}

.inputContainer > .submit,
.inputContainer > input  {
    flex: 1;
}

label {
    font-size: 1.1rem;
    font-weight: thin;
    font-family: 'nanum-gothic', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2rem;
}

input {
    font-size: 1.2rem;
    text-align: center;
    padding: 2px 8px;
    background-color: #20203E;
    background: #20203E;
    border: 1px solid rgb(60, 63, 68);
    border-radius: 16px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
    :focus{
        outline: none;
        box-shadow: none;
        border-color: rgb(100, 153, 255);
    }
}


.submit {
    padding: 8px 16px;
    font-size: 1.2rem;
    border-radius: 16px;
    background-color: #FBFBF2;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    /* border-radius: 8px; */
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}

.submit:hover {
    box-shadow: inset -10.5em 0 0 0 #82003C, inset 10.5em 0 0 0 #82003C
}

.inputContainer > label {
    flex: 2;
}


.buttonContainer {
    display: flex;
    gap: 20px;
    justify-content: flex-start; 
    
}

span {
    letter-spacing: 0.2rem;   
}

.inputContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px
}

.colourBtn {
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 16px;
    padding: 14px 24px;
    border: none;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    :hover {
        border-color: #000000;
        background: #f7f7f7;
    }

}

.colour-reset-container {
    align-items: baseline;
}
.resetContainer {
    display: flex;
    justify-content: center;
    width: 680px;
    margin: 20px auto 20px auto;
}

.reset {
    margin: 0;
    
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 14px 70px;
    border: none;
    border-radius: 16px;
    color: #fff;
    font-size: 1.2rem;

    background: #00d301;
    background: -webkit-linear-gradient(-196deg,#00d301,#36c275 50%,#00a562);
    background: -webkit-linear-gradient(164deg,#00d301,#36c275 50%,#00a562);
    background: linear-gradient(286deg,#00d301,#36c275 50%,#00a562);
    /* line-height: 30px; */
    font-weight: 800;
    transition: background,color .1s ease-in-out;
    
}